root=true

## Defaults
## -----------------------------------------------------------------------------
[*]

## Tabulation
indent_style = tab
indent_size  = 4

## Lines
end_of_line = lf
insert_final_newline = true
max_line_length = off

## Other
charset = utf-8

## Files that require 2-space indents
## -----------------------------------------------------------------------------
[{*.md,*.rst}]
indent_style = space
indent_size = 2

## YAML files vary based on the plugin
## -----------------------------------------------------------------------------
[*.yml]
indent_style = space
[{bukkit.yml,commands.yml,spigot.yml}]
indent_size = 2
