## Dynamic
/build/
**/cache/

## Logs
**/crash-reports/
**/logs/
**.log

## Temporary files
**.lock
**.swp
**.tmp
**/tmp/

## Unversionable
**.db
**.jar
**.sqlite
**.zip

## Backups
**/backup/
**.bak
**.old

## IDEs
**/.classpath
**/.factorypath
**/.project

## System files
**/.directory
**/.DS_Store
**/desktop.ini
**/thumbs.db
**.fuse_hidden*
