## Defaults
## -----------------------------------------------------------------------------
* text=auto eol=lf

## Shell
## -----------------------------------------------------------------------------
*.bash text
*.sh   text

## Java
## -----------------------------------------------------------------------------
*.class binary
*.jar   binary
*.java  text diff=java

## Web
## -----------------------------------------------------------------------------
*.css   text diff=css
*.htm   text diff=html
*.html  text diff=html
*.js    text
*.xhtml text diff=html

## Configuration
## -----------------------------------------------------------------------------
*.conf       text
*.ini        text
*.json       text
*.properties text
*.xml        text diff=xml
*.yml        text

## Documentation
## -----------------------------------------------------------------------------
*.md  text
*.rst text
*.txt text

## Images
## -----------------------------------------------------------------------------
*.ico binary
*.png binary
*.svg text diff=xml

## Other
## -----------------------------------------------------------------------------
*.sql text
