
## Dynamic
**/backup/
**/logs/
**/tmp/
**.log
/banned-ips.json
/banned-players.json
/eula.txt
/ops.json
/usercache.json
/whitelist.json

## Unversionable
/build/
/worlds/
**.bak
**.db
**.jar
**.lock
**.old
**.sqlite
**.swp
**.tmp

## IDEs
**/.classpath
**/.factorypath
**/.project
**/.vscode/

## System files
**/.directory
**/.DS_Store
**/desktop.ini
**/thumbs.db
