
## Dynamic
/banned-ips.json
/banned-players.json
/eula.txt
/ops.json
/usercache.json
/whitelist.json
/worlds/

## Binaries
/build/
**.jar

## IDEs
**/.classpath
**/.factorypath
**/.project
**/.vscode/

## System files
**/.directory
**/.DS_Store
**/desktop.ini
**/thumbs.db

## Misc
**/logs/
**/tmp/
**/*.lock
**/*.log
**/*.swp
**/*.tmp
