**
!.gitignore
!data/
!data/worlds.txt
!data/worlds
!data/worlds/*.txt
!settings/
!settings/Channels.yml
!settings/ChatConfig.yml
!settings/config.yml
!settings/townyperms.yml
!**/ReadMe.md

!settings/lang
!settings/override
!settings/override/**
