## Unversionable paths created by Minecraft
/cache/
/crash-reports/
/build/
/worlds/

## Other
/.console_history
/banned-ips.json
/banned-players.json
/eula.txt
/ops.json
/usercache.json
/version_history.json
/whitelist.json
