[Unit]
Description=settlescape server
After=network.target

[Service]
Type=idle

Restart=on-failure
RestartSec=5s

User=minecraft
Group=minecraft

Environment="TERM=xterm-16color"
WorkingDirectory=/srv/minecraft/settlescape/minecraft/scripts

ExecStart=/srv/minecraft/settlescape/minecraft/scripts/start-server.bash -d
ExecReload=/srv/minecraft/settlescape/minecraft/scripts/restart-server.sh -d
ExecStop=/srv/minecraft/settlescape/minecraft/scripts/stop-server.sh

[Install]
## For system instance, use "multi-user".
## For user instance, use "default".
WantedBy=default.target
