[Unit]
Description=settlescape server
After=network.target

[Service]
Type=idle

Environment="TERM=xterm-16color"

ExecStart="/srv/minecraft/settlescape/minecraft/scripts/start-server.sh"
ExecRestart="/srv/minecraft/settlescape/minecraft/scripts/restart-server.sh"
ExecStop="/srv/minecraft/settlescape/minecraft/scripts/stop-server.sh"

Restart=on-failure
RestartSec=1s

WorkingDirectory=/srv/minecraft/settlescape/minecraft/scripts

User=minecraft
Group=minecraft

[Install]
WantedBy=multi-user.target
