[Unit]
Description=settlescape server
After=network.target

[Service]
Type=idle

Restart=on-failure
RestartSec=1s

User=minecraft
Group=minecraft

Environment="TERM=xterm-16color"
WorkingDirectory=/srv/minecraft/settlescape/minecraft/scripts

ExecStart="/srv/minecraft/settlescape/minecraft/scripts/start-server.sh"
ExecRestart="/srv/minecraft/settlescape/minecraft/scripts/restart-server.sh"
ExecStop="/srv/minecraft/settlescape/minecraft/scripts/stop-server.sh"

[Install]
WantedBy=multi-user.target
